<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
.row
  .large-3.columns.large-centered
    = link_to('Get Mixin\'', new_cocktail_path, :remote => true, :class => 'button expand')
  #new-cocktail-form

.row
  .all-cocktails
    = render :partial => 'index'