@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);

@import "custom_settings.scss";
@import "scss/foundation.scss";

body { border: 20px solid $body-border; padding: 10px; }
.panel { @include clearfix(); }
.all-cocktails { margin: 10px 0; }

///////////////////////////////////
////////// TYPOGRAPHY
///////////////////////////////////

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Narrow', serif;
  text-transform: uppercase;
  &.hero {
    color: $body-border;
    text-shadow: -1px -1px 1px #ccc;
    font-size: 6em;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
  }
}

///////////////////////////////////
////////// NAV OVERRIDE
///////////////////////////////////

.top-bar {
  background: none;
  text-align: center;
  & ul {
    background: none;
    border-top: 1px solid $body-border;
    border-bottom: 1px solid $body-border;
    display: inline-block;
    & li a:not(.button) {
      background: none;
      color: lighten($body-font-color, 30%);
      font-weight: 400;
      text-transform: uppercase;
      &:hover {
        background: $body-border;
        color: darken($body-font-color, 20%);
        font-weight: 600;
      }
    }
  }
  .center { margin: 0 auto; }
}

///////////////////////////////////
////////// IMAGE CROPPING
///////////////////////////////////

.image-crop {
  width: 100%;
  height: auto;
  border: 20px solid $body-border;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.favorited { color: $secondary-color; }
#homelinks { text-align: center; }


.cocktail-info {
  height: 180px;
  text-align: center;
  position: relative;
  top: 0;
}
